//Fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2:500|Montserrat:700|Source+Sans+Pro:300');
// Variables
@import "variables";
//mixins
@import "mixins";
@import "animations";
//includes
@import "items";
@import "header";

body {
     font-size: 100%;
     font-family: $font-text;
     background: $body-bg;
}
h1,h2,h3 {
     font-family: $font-title;
}
h4,h5,h6 {
     font-family: $font-subtitle;
}
p, a, span, dd {
     font-family: $font-text;
}



.main-content {
     @include masonry(4);
}


footer {
     margin-top: 50px;
     padding: 2em 0em;
     position: relative;
     &::before {
          position: absolute;
          left: 20%;
          top: -3px;
          content: "";
          width: 60%;
          height: 3px;
          background: lighten($brand-primary, 20%);
     }
}
